body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: #2563eb;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

textarea {
    width: 60%;
    padding: 10px;
    border-radius: 6px;
}


.answer-box {
    margin-top: 20px;
    padding: 15px;
    background: #1e293b;
    border-radius: 8px;
}